.graph-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chart-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .chart {
    flex: 1;
    padding: 15px;
    background:  linear-gradient(98.63deg, #f4f6f7 10%, #d0d3d4 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chart h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .chart canvas {
    max-height: 300px;
  }